

:root {
--primary-text-color: ;
--title-text-color: ;
--accent-color: ;
--primary-white-color: #E5E5E5;

}

body{
    background-color: var(--primary-text-color);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
}


logo{
    color: var(--title-text-color);
}

.header {
}
.header-logo {
}
.header-nav {
}
.header-list {
}
.header-item {
}
.contacts {
}
.header-mail {
}
.header-tel {
}
.main {
}
.main-title {
}
.main-btn {
}
.about {
}
.about-catalog {
}
.about-list {
}
.about-title {
}
.about-text {
}
.product {
}
.product-title {
}
.product-catalog {
}
.product-item {
}
.team {
}
.team-title {
}
.team-catalog {
}
.team-item {
}
.team-tit {
}
.team-text {
}
.footer-logo {
}
.footer-text {
}